<% include ./head %>
<body>
<style>  
.inner {
  width: 50%;
  margin: 0 auto;
}
</style>  
<% include ./header %>
<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h1>Help</h1>
  <p>Tayrona is an application developed by Francisco Nino.
     It's main purpose is to help with the operation of an application platform by providing an easy way to look-up information about the different processes and the system status.
     </p>
</main>
<% include ./footer %>
</body>
</html>