<% include ./head %>
<body>
<style>  
.inner {
  width: 50%;
  margin: 0 auto;
}
</style>  
<% include ./header %>
<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h1>Oops, no such page</h1>
</main>
<% include ./footer %>
</body>
</html>